.input {
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 0.3em;
    margin-top: 0.3em;
    border-radius: 50px;
    border: solid;
    font-size: 20px;
    padding: 0.3em 0;
    cursor: pointer;
    z-index: 1;
    animation-name: slide;
    animation-duration: 0.5s;
    font-family: "Montserrat";
    text-align: center;
}

.input:focus {
    outline-width: 0;
}

.submit {
    padding: 5px 0;
    text-transform: uppercase;
    width: 40%;
    border-radius: 7px;
    font-size: 20px;
}