.name {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 0.3em;
    margin-top: 0.3em;
    border-radius: 50px;
    border: solid;
    font-size: 20px;
    padding: 0.3em 2em;
    cursor: pointer;
    z-index: 1;
    animation-name: slide;
    animation-duration: 0.5s;
    font-family: "Montserrat";
    font-weight: bold;
}

.name:active{
    background: #FFA8A8;
    margin-left: 25%;
}

.name:focus {
    outline-width: 0;
}

@keyframes slide{
    0% {
        transform: translateX(-200%);
    }
    100% {
        transform: translateX(0%);
    }
}